{% extends baseLayout %}

{% block contentHeader %}
    {% include item.headerTabs %}
{% endblock %}

{% block content %}
    <div class="content-in content-widgetable">
        <div class="content-scroll">
            <div class="panel">
                <div class="panel-title">
                    Custom Title
                </div>
                <div class="panel-body">
                    Custom Body
                </div>
            </div>
        </div>
    </div>
{% endblock %}