<a class="btn btn-success" href="{{ route('backend.custom.module.tab1.action.enable', {'id' : model.id}) }}">Enable</a>
<a class="btn btn-danger" href="{{ route('backend.custom.module.tab1.action.disable', {'id' : model.id}) }}">Disable</a>